model-service/**pycache**/
model-service/*.pyc
model-service/*.pyo
model-service/*.pyd

model-service/.venv/
model-service/env/
model-service/venv/
model-service/*.egg-info/
model-service/build/
model-service/dist/

model-service/*.log
model-service/.env
model-service/*.sqlite3

model-service/.vscode/
model-service/.idea/
model-service/*.swp

model-service/.DS_Store
model-service/Thumbs.db

model-service/.git/
model-service/.gitignore

model-service/checkpoints

web/node_modules/
web/dist/
web/.vite/
web/.env
web/.env.*
web/.DS_Store
web/Thumbs.db