<div class="canvas-container" >
  <div class="canvas-wrapper">
    <div class="zoom-mode">zoom mode</div>
    <canvas id="canvas" class="canvas"></canvas>
    <div id="processing-status" class="processing-status hidden"></div>
  </div>
</div>

