 <div class="flex space-x-2">
   <button class="canvas-btn group bg-black text-white rounded border-2 border-black shadow-md cursor-pointer font-medium flex items-center justify-center transition-all duration-300 hover:bg-white hover:text-black" data-action="click->canvas#guide">
     <img src="/icon_tutorial.svg" alt="Guide" class="canvas-icon group-hover:invert">
   </button>
   <button class="canvas-btn group bg-black text-white rounded border-2 border-black shadow-md cursor-pointer font-medium flex items-center justify-center transition-all duration-300 hover:bg-white hover:text-black" data-action="click->canvas#upload">
     <img src="/icon_upload.svg" alt="Upload" class="canvas-icon group-hover:invert">
   </button>
   <button class="canvas-btn group bg-black text-white rounded border-2 border-black shadow-md cursor-pointer font-medium flex items-center justify-center transition-all duration-300 hover:bg-white hover:text-black" data-action="click->canvas#mode">
     <img src="/icon_lasso.svg" alt="Mode" class="canvas-icon group-hover:invert">
   </button>
   <button class="canvas-btn group bg-black text-white rounded border-2 border-black shadow-md cursor-pointer font-medium flex items-center justify-center transition-all duration-300 hover:bg-white hover:text-black" data-action="click->canvas#undo">
     <img src="/icon_undo.svg" alt="Undo" class="canvas-icon group-hover:invert">
   </button>
   <button class="canvas-btn group bg-black text-white rounded border-2 border-black shadow-md cursor-pointer font-medium flex items-center justify-center transition-all duration-300 hover:bg-white hover:text-black" data-action="click->canvas#redo">
     <img src="/icon_redo.svg" alt="Redo" class="canvas-icon group-hover:invert">
   </button>
   <button class="canvas-btn group bg-black text-white rounded border-2 border-black shadow-md cursor-pointer font-medium flex items-center justify-center transition-all duration-300 hover:bg-white hover:text-black" data-action="click->canvas#erase">
     <img src="/icon_erase.svg" alt="Erase" class="canvas-icon group-hover:invert">
   </button>
   <button class="canvas-btn group bg-black text-white rounded border-2 border-black shadow-md cursor-pointer font-medium flex items-center justify-center transition-all duration-300 hover:bg-white hover:text-black" data-action="click->canvas#save">
     <img src="/icon_download.svg" alt="Save" class="canvas-icon group-hover:invert">
   </button>
 </div>