# Python cache and compiled files

**pycache**/
_.pyc
_.pyo
\*.pyd

# Virtual environments

.venv/
env/
venv/

# Dependency & build files

\*.egg-info/
build/
dist/

# Logs and local configs

_.log
.env
_.sqlite3

# IDE & editor settings

.vscode/
.idea/
\*.swp

# OS junk files

.DS_Store
Thumbs.db

# Git

.git/
.gitignore

checkpoints
